.Random_planet {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: rgba(3, 58, 26, 0.3);
}

.Random_planet_img {
  margin-right: 1rem;
  width: 30%;
  height: 30%;
  background-color: black;
  border-radius: 5px;
}

.Random_planet_list h4 {
  font-size: 2rem;
  font-width: bold;
  background: linear-gradient(45deg,red 0%, orange 25%, yellow 50%, green 75%, blue 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.Random_planet_list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.Random_planet_list .planet_list--item {
  padding: .5rem 0 .5rem 0;
  margin-left: 1rem;
  border-bottom: 1px solid rgba(12, 207, 93, 0.3);
  cursor: pointer;
}

.planet_list--item .term {
  color: #d4860b;
}
