.Person_details {
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: rgba(145, 185, 85, 0.3);
}

.Person_details h4 {
  font-size: 2.25rem;
  font-weight: bold;
  background: linear-gradient(45deg ,lightskyblue, salmon);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Person_details_img {
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  height: 50%;
  background-color: black;
  border-radius: 5px;
}

.Person_details_list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.Person_details_list ul li {
  padding: .5rem 0 .5rem 0;
  margin-left: 1rem;
  border-bottom: 1px solid rgba(185, 150, 85, 0.44);
  cursor: pointer;
}

.Person_details_spinner {
  padding-top: 2rem;
  border-radius: 5px;
  background-color: rgba(145, 185, 85, 0.3);
}

.Person_details_spinner h4 {
  margin-bottom: 1rem;
  text-align: center;
  color: lightcoral;
}







@media screen and (min-width: 320px) and (max-width: 920px){

  .Person_details {
    flex-direction: column;
  }
  .Person_details .Person_details_img {
    width: 100%;
  }
  .Person_details h4 {
    font-size: 2rem;
  }


}